numpy==1.23.5
opencv-python==4.8.1.78
mediapipe==0.10.14
tensorflow==2.16.1
tensorflow-macos==2.16.1
scikit-learn==1.5.0
matplotlib==3.9.0
Cython==3.0.10
pillow==10.3.0
PyQt5==5.15.10
gradio==4.37.2
tk==0.1.0
transformers==4.42.3
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
sentencepiece==0.2.0
tensorboard==2.16.0
accelerate==0.32.0
scipy==1.14.0
sounddevice==0.4.7